{{!< default}}
    <header class="header" role="banner">
        <nav class="navigation" role="navigation">
            <div class="logo">
                <a href="{{@blog.url}}">{{@blog.title}}</a>
            </div>
            <a class="feed" href="{{@blog.url}}/rss/">Subscribe</a>
        </nav>
    </header>
    <main class="content" role="main">
		{{> "loop"}}
	</main>
